<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>About The Author</h2>
  <p>
    Uan Murphy is a small town gamer and game developer from the town Galway, where it is currently: {{weather[0].main}} with {{weather[0].description}}.<br>
    He made his way through secondary school and then moved towards game development and software during his time in <a href="https://www.gti.ie/">GTI</a>.<br>

  </p>
</ion-content>
