<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Murphy Arcade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <ion-card [routerLink]="['/game']" routerDirection="forward">
      <img src="./assets/icon/FlappyTitlePhs.png"/>
      <ion-card-header>
        <ion-card-title>Game</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-button [routerLink]="['/leaderboard']" routerDirection="forward">Go To LeaderBoard</ion-button>
    <ion-button [routerLink]="['/credit']" routerDirection="forward">Go To Credits</ion-button>
  </div>
</ion-content>
